<div class="row" >
  <div class="col-md-3"></div>
  <div class="col-md-6"> <h3> New Category </h3> </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= form_for @category, url: {action: 'create'} do |form|%>
      <div class="row">
        <div class="col-md-6"> <%= form.label :category_name, for:'category_name'%> </div>
        <div class="col-md-6">
          <div class="form-group"> <%= form.text_field :category_name, class:'form-control' %> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6"> <%= form.label :description, for:'description'%> </div>
        <div class="col-md-6">
          <div class="form-group"> <%= form.text_field :description, class:'form-control' %> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6"> <%= form.label :image, for:'image'%> </div>
        <div class="col-md-6">
          <div class="form-group"> <%= form.text_field :image, class:'form-control' %> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6"> <%= form.label :dimension, for:'dimension'%> </div>
        <div class="col-md-6">
          <div class="form-group"> <%= form.text_field :dimension, class:'form-control' %> </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.submit "Register Category", class: 'btn btn-success'%>
        <%= link_to "Cancel", category_index_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>

<%= link_to "Inicio", root_path %>
