<!-- /.container -->
    <div class="container">
      <div id="owl-demo" class="owlCarousel owl-theme">
          <div class="item"><%=image_tag("fullimage1.jpg", alt: "Example Image", class: "item-img")%></div>
        <div class="item"><%=image_tag("fullimage2.jpg", alt: "Example Image", class: "item-img")%></div>
        <div class="item"><%=image_tag("fullimage3.jpg", alt: "Example Image", class: "item-img")%></div>
      </div>
    </div>
<section class="products col-lg-12">
    <div class="container">
      <div class="products-item col-lg-4 col-md-6 col-s-12">
        <a href="#" class="products-item--link">
          <%= link_to category_articles_path(11), class: 'products-item--link' do %>
             <%= image_tag "bags.jpg", class: "products-item--img" %>
          <% end %>
          <div class="products-item--title">
          <%= link_to  "Bag", category_articles_path(11), class: 'products-item--link' %></div>
        </a>
      </div>
      <div class="products-item col-lg-4 col-md-6 col-s-12">
        <a href="#" class="products-item--link">
          <%= link_to category_articles_path(12), class: 'products-item--link' do %>
             <%= image_tag "scarfs.jpg", class: "products-item--img" %>
          <% end %>
          <div class="products-item--title"><%= link_to  "Scarf", category_articles_path(12), class: 'products-item--link' %></div>
        </a>
      </div>
      <div class="products-item col-lg-4 col-md-6 col-s-12">
        <a href="#" class="products-item--link">
          <%= link_to category_articles_path(13), class: 'products-item--link' do %>
             <%= image_tag "carpets.jpg", class: "products-item--img" %>
          <% end %>
          <div class="products-item--title"><%= link_to  "Carpet", category_articles_path(13), class: 'products-item--link' %></div>
        </a>
      </div>
    </div>
</section>
