<div class="container">
		<div class="articles-slider col-lg-12 col-md-12 col-s-12">
			<%= render partial: "articles_slider", locals: {items: @items}%>
		</div>
		<div class="articles-desc col-lg-10 col-md-10 col-s-12">
			<div class="articles-desc--img col-lg-6 col-md-6 col-s-10">
				<%=image_tag( @item.image1, size:"300x300")%>

			</div>

			<div class="articles-desc--text col-lg-6 col-md-6 col-s-10">
				<h1><%= @item.article_name %></h1></br>
				<h3><%= @item.dimension %></h3></br>
				<%= @item.description %></br>
				<%= @item.dimension %></br>
			</div>
		</div>
	<div class="col-lg-12 col-md-12 col-s-12">
		<%= link_to 'next', root_path, class: 'next-btn' %>
	</div>
</div>

<%= link_to 'next' %>
