<h2>Agregar Madre Fabricante</h2>

<%= form_for @manufacturer, url: {action: 'create'} do |f| %>

  <div>
    <%= f.label :Nombre %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name%>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>

  <div>
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </div>

  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div >
    <%= f.submit "Crear", class: 'btn btn-success' %>
    <%= link_to "Cancel", manufacturer_index_path, class: 'btn btn-default' %>
  </div>

<% end %>
<%= link_to "Inicio", root_path %>
